<!DOCTYPE html>

{% set title = 'File Sharing System' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
    <title> 
        {% if subtitle is defined %} 
            {{ subtitle }} - 
        {% endif %}
        {{ title }}
    </title>
    <script src="{{url_for('static', filename='js/theme_control.js')}}"></script>
    {% block head %}{% endblock %}
</head>
<body class="flex flex-col w-full min-h-svh overflow-y-auto" onload="setTheme()">
    <div class="flex-1">
        {% block body %}{% endblock %}
    </div>

    <footer class="text-center max-xs:text-sm text-gray-500 w-full my-4">
        Made by <a href="https://github.com/rakrandom" target="_blank" class="text-black hover:underline">Fellipe Leonardo</a>
    </footer>
</body>
</html>
