{% extends 'base.html' %}

{% set subtitle = 'Download' %}

{% block body %}
<div class="absolute w-full">
    {% include 'components/header.html' %}
</div>

<div class="flex items-center justify-center w-full h-full">
    <div class="w-fit h-fit p-8 bg-white border rounded-lg shadow-md">
        <header class="mb-6">
            <h1 class="text-center text-3xl font-semibold mb-2">
                File Sharing System (FSS)
            </h1>
            <p>
                Connected with 
                <a href="/" class="hover:underline">
                    {{request.host}}
                </a>
            </p>
        </header>

        <form action="#" class="group flex flex-col gap-4">
            <input 
                type="text" 
                id="file-path" 
                placeholder="Write the file path here"
                class="text-lg w-full py-1 px-2 border-2 rounded-md bg-slate-50"
                required
            >
            
            <button type="submit" id="submit-button" 
                class="default-button 
                group-invalid:bg-blue-300 
                group-invalid:pointer-events-none 
                max-sm:group-valid:active:bg-blue-600
                sm:group-valid:hover:bg-blue-600">
                Download File
            </button>
        </form>
    </div>
</div>

<script>
    const input = document.getElementById("file-path");
    const button = document.getElementById("submit-button");
    
    button.addEventListener("click", e => {
        e.preventDefault();

        button.innerText = "Downloading File...";
        downloadFile(input.value);
        button.innerText = "Download File";
    });

    async function downloadFile(path) {
        let link = document.createElement("a");
        link.style.display = "hidden";
        link.href = "/download/" + path;
        link.download = "";

        document.body.appendChild(link);
        link.click();
        link.remove();
    }
</script>
{% endblock %}
