{% extends 'base.html' %}

{% set subtitle = 'Download' %}

{% block body %}
{% include 'components/no_permission.html' %}
{% include 'components/header.html' %}

<div class="default-upper-container">
    <div class="default-lower-container w-[400px]">
        <header class="">
            <h1 class="text-center text-3xl font-semibold">
                Download File
            </h1>
        </header>
        <hr>
        <form action="#" class="group flex flex-col gap-4">
            <input 
                type="text" 
                id="file-path" 
                value="{{name if name is not none else ''}}"
                placeholder="File name"
                class="default-text-input"
                required
            >
            
            <button type="submit" id="submit-button" 
                class="default-button 
                group-invalid:bg-blue-300 
                group-invalid:pointer-events-none 
                max-sm:group-valid:active:bg-blue-600
                sm:group-valid:hover:bg-blue-600">
                Download File
            </button>
            <p class="text-center text-sm text-gray-500">
                Check <a href="/files" class="text-black hover:underline">files</a> if you want the list of files. ;)
            </p>
        </form>
    </div>
</div>

<script src="{{url_for('static', filename='js/download.js')}}"></script>
<script>
    const input = document.getElementById("file-path");
    const button = document.getElementById("submit-button");

    button.addEventListener("click", e => {
        e.preventDefault();

        button.innerText = "Downloading File...";
        downloadFile(input.value);
        button.innerText = "Download File";
    });
</script>
{% endblock %}
