{% extends 'base.html' %}

{% set subtitle = 'Files' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
{% endblock %}

{% block body %}
{% include 'components/no_permission.html' %}
{% include 'components/header.html' %}

<div class="default-upper-container">
    <div class="default-lower-container w-[400px] md:w-[560px] max-md:px-0">
        <h1 class="text-center text-3xl font-semibold max-md:mx-8">
            Files List
        </h1>
        <hr class="max-md:mx-8">
        <button type="button" onclick="getList()" class="default-button block max-md:mx-auto max-md:w-[80%]">
            Update
        </button>
        <hr class="max-md:mx-8">
        <div id="results-div" class="flex flex-col h-[280px] md:h-[440px]">
            <div class="flex-1 min-h-0 border-y-2 md:border-x-2 p-2 md:rounded-lg">
                <ul id="results" class="text-left default-link-list *:*:px-1.5 *:*:w-full"></ul>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/download.js')}}"></script>
<script src="{{url_for('static', filename='js/get_list.js')}}"></script>
<script>
    const resultsList = document.getElementById("results");
    resultsList.innerHTML = "";

    fillList();

    async function fillList() {
        let list = await getList();

        list.forEach(name => {
            const listItem = document.createElement('li');
            const button = document.createElement('button');

            button.onclick = () => downloadFile(name);
            button.textContent = name;

            listItem.appendChild(button);
            resultsList.appendChild(listItem);
        });
    }
</script>
{% endblock %}
