{% extends 'base.html' %}

{% set subtitle = 'Files' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
{% endblock %}

{% block body %}
{% include 'components/no_permission.html' %}
{% include 'components/header.html' %}

<div class="default-upper-container">
    <div class="
        flex gap-8 w-full mx-8 shadow-none
        max-md:default-lower-container max-md:w-[400px] max-md:px-0 md:border-x-0"
        >
        <button type="button" onclick="getList()" class="block default-button h-fit">
            Update
        </button>
        <hr class="max-md:mx-8 md:hidden">
        <div id="results-div" class="flex flex-col h-[280px] md:h-[440px] w-full">
            <div 
                class="
                    flex-1 min-h-0 border-y-2 md:border-x-2 p-2 md:rounded-lg"
                >
                <ul 
                    id="results" 
                    class="
                    text-left default-link-list *:*:flex *:*:px-1.5 *:*:w-full"
                ></ul>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/download.js')}}"></script>
<script src="{{url_for('static', filename='js/get_list.js')}}"></script>
<script>
    const resultsList = document.getElementById("results");
    resultsList.innerHTML = "";

    fillList();

    async function fillList() {
        let list = await getList();

        list.forEach(name => {
            const listItem = document.createElement('li');
            const button = document.createElement('button');

            button.onclick = () => downloadFile(name);
            button.textContent = name;

            listItem.appendChild(button);
            resultsList.appendChild(listItem);
        });
    }
</script>
{% endblock %}
