{% extends 'base.html' %}

{% set subtitle = 'Host Finder' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
{% endblock %}

{% block body %}
{% include 'components/header.html' %}

<div class="default-upper-container">
    <div class="default-lower-container w-full sm:w-[400px]">
        <h1 class="text-center text-3xl font-semibold">
            Host Finder
        </h1>
        <hr>
        <button id="scan-button" class="block default-button mx-auto w-3/4">
            Start Scan
        </button>
        <div id="results-div" class="flex flex-col h-[300px]">
            <hr class="mb-0">
            <p class="text-center text-sm my-2 opacity-50">
                Click on the desired host to be redirected
            </p>
            <div class="flex-1 min-h-0 border-2 p-2 rounded-lg">
                <ul id="results" class="default-link-list"
                ></ul>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/host_finder.js')}}"></script>
{% endblock %}
